body {
  /*background: #ffffff;*/
  font-family: 'PT Sans', sans-serif;
  color: #444444;
  /*line-height: 1.3;*/
}
#tc_jumbotron{
    background: #2ab27b;
    box-shadow: 0 5px 10px #888888;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    

}
.card-header {
    padding: 0px 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
#m_1 a{
  color: #444444;
}
.form-control:focus {
    color: #495057;
    
    border-color: #2ab27b;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0.01rem rgb(42, 178, 123);
}
.btn-success.focus, .btn-success:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.btn-success:hover {
    color: #fff;
    background-color: #4e4e4e;
    border-color: #4c4c4c;
}
#input_reply:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2ab27b;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0.01rem rgb(42, 178, 123);
}
.spane{
      background: #2ab27b;
    border-radius: 12px;
    padding: 13px;
}
.btn-warning {
    color: #212529;
    background-color: #2ab27b;
    border-color: #f5f8fa;
}
.btn-tc {
  border: 1px solid #f5f8faa6;
    color: #212529;
    background-color: #2ab27b;
    border-color: #f5f8fa;
}
.btn-tc i{
   
    color: #eee; 
}
.btn-success {
    color: #fff;
    background-color: #2ab27b;
    border-color: #2ab27b;
}
#tc_jumbotron_footer{
      background: #444;
    box-shadow: 0 5px 10px #888888;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: #fff;
    height: 332px;
    margin-bottom: 0;
}
#tc_jumbotron #xx{
    border: 1 px solid #fff;
}

.tc_head_title_footer1{
      border-left: 4px solid #2ab27b;
    padding-left: 14px;
    border-bottom-left-radius: 14px;
}
.footer_sosial a{
    padding: 32px;
    font-size: 23px;
    text-align: center;
    color: #2ab27b;
}
.footer_sosial_profile a{
    padding: 18px;
    font-size: 23px;
    text-align: center;
    color: #2ab27b;
}
.footer_sosial {
       text-align: center;
}

.footer_back{
      padding: 12px;
    background: #2ab27b;
}

#tc_container_wrap{
      padding: 0 28px;
    margin: -60px 0;
}
#tc_paneldefault{
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tc_panelbody_head{
      /*box-shadow: 0 0 12px #999999;*/
          border: 1 px solid #ddd;
}

#tc_shadows{
   -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.forum_title h4{
  color: #8ab6e4;
  margin-bottom: 3px;
  font-size: 18px;
}
.forum_title p{
  color: #999;
  margin-bottom: 5px;
  font-size: 14px;
}
.forum_title a, .forum_by a{
  color: #2ab27b;
}
#tc_thead {
    background: #2ab27b;
    color: #f5f8fa;
    font-size: 14px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.45rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.bg .overlay h2 {
    padding-top: 27%;
    color: #fff;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2ab27b;
    border-color: #2ab27b;
}
.page-item.active .page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #555;
    border-color: #555;
}
#tc_panelbody{
      box-shadow: 0 0 2px #999999;
}

.badge-success {
    color: #fff;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #25d668, #11998e);
}
#btn_add{
  font-size: 20px;
}
#btn_add:hover{
 color: #2ab27b;
}

#rating{
      color: #f7ce87;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #2ab27b;
    border-color: #2ab27b;
    cursor: default;
}

.forum_info h3{
    margin-top: 4px; 
}

.share a{
   
    padding-left: 15px;
    font-size: 16px;
    color: #2ab27b; 
 
}
.tc_head_title{
      text-align: center;
    border: 1px solid #fff;
    padding: 29px;
}

.profile_img img {
    border: 5px solid #f5f8fa;
    width: 20%;
    border-radius: 50%;
    height: 28%;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f5f8fa;
}
#tc_jumbotron_profile {
   background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 5px 10px #888888;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
}
#img_comment img{
     border: 4px solid #e6e6e6;
}
#img_comment{
   border-right: 2px solid #eee;
}

#img_comment_reply{
   border-left: 2px solid #eee;
}

.comment_user{
    
    padding: 5px 7px;
        border-bottom: 1px solid #eee;
    
}
.comment_user p{
      padding: 3px;
}

.reply_comment{
      text-align: right;
}

.info_comment{
  float: left;
}

.link_a a{
  text-decoration: none;
  color: #444;
}
.cke_editable {
    cursor: text;
    background: #444;
}
.btn_tc{
  text-align: left;
    border: 1px solid #c7c3c3;
    background: #f5f8fa;
    margin-bottom: 17px;

}
.des a{
  color: #eee;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2ab27b;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
#zoom_image{

     font-size: 28px;
    color: #444;
    cursor: pointer;
}

#tc_input{
      background: #f5f8fa;
}

#tc_input:hover{
      background: #fff;
}
#upload_image {
    font-size: 28px;
    color: #2ab17b;
    cursor: pointer;
    padding-bottom: 11px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*.tc_head_title_footer1 p{
  font-size: 14px;
      letter-spacing: 1px;
}*/
a {
    color: #444444;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.footer_about a{
      padding-right: 16px;
    font-size: 17px;
    color: #fff;
}

 
#nav_ul a{
  color: #fff;
}
 

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}
 

input[type=search] {
  background: #ededed url("/images/search-icon.png") no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}


#tc_search {
      margin-bottom: 0;
          float: right;
}
#tc_search input[type=search] {
  width: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#tc_search input[type=search]:hover {
  background-color: #fff;
}
#tc_search input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#tc_search input:-moz-placeholder {
  color: transparent;
}
#tc_search input::-webkit-input-placeholder {
  color: transparent;
}

.menu_a{
    padding: 8px 0;
}

.menu_a a{
color: #fff;
font-size: 16px;
    padding-right: 21px;
}

#item-hover:hover{
  background: #2ab27b;
  color: #fff;
}

#index_hover{
  background: rgb(249, 249, 249);
      border: none;
}

#index_hover:hover{
 background: #2ab27b;
  color: #fff;
}

.forum_title .tag_label{
  color: #fff;
}
.tag_label{
      font-size: 10px;
    border-radius: 10px;
   
}

.tag_label_image{
      font-size: 11px;
    border-radius: 10px;
}
.tag_label_image:hover {
       background: #444;
}

.forum_title .tag_label:hover{
   background: #444;;
}

.alert-danger {
    background-color: #ff6262;
    border-color: #ff6262;
    color: #ffffff;
}
.alert-success {
    background-color: #2ab27b;
    border-color: #2ab27b;
    color: #f5f8fa;
}

#modal_img img{
  width: 100%;
}

#modal_img{
  padding: 0;
}